header {
	background: #ccc;
	padding: 20px 0;
}

.caixa{
	width: 940px;
	position: relative;
	margin: 0 auto;
}

nav{
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{
 color:#c78c19;
 text-decoration: underline;
}

.produtos{
	width: 940px;
	margin: 0 auto;
	padding: 50px;
		
}
.produtos li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 50px 0;
	
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius:  10px;

}

.produtos h2{
	font-size: 30px;
	font-weight: bold;
}
.produtos li:hover{
	border-color:#c78c19;
	color:#c78c19;
	text-decoration: underline;
}

.produtos li:hover h2{
	font-size: 34px;
}

.produtos li:active{
	border-color: #088c19;
}


.produtos-preco{
	font-size: 22px;
	font-weight: bold;
	margin: 10px;
}

footer{
	background-color: #ccc;
	text-align: center;
	background: url(bg.jpg);
	padding: 40px 0;
}

footer p{
	color: white;
	font-size: 12px;
}

main{
	width: 940px;
	margin: 0 auto;
}

form{
	margin: 40px 0;
}


input{
	border: 3px solid black;
	border-radius: 10px;
}


input:hover{
	border:2px solid black
}

form label{
	display: block;
	font-size: 20px;
	margin: 8px;
}

form .input-padrao{
	display: block;
	margin: 0 0 20px 0;
	padding: 10px 10px;
	width: 50%;
}



textarea{
	margin: 0 0 20px 0;
}

.checkbox{
	margin: 20px 0 ;
}

.enviar{
	width: 15%;
	padding: 7px 0;
	background: #ccc;
	font-size: 18px;
	font-weight: bold;
	transition: 1s all;
}

.enviar:hover{
	background-color: #ccc;
	
}

table{
	margin: 20 px  0 40px;
}

td{
	border: 1px solid black;
	padding: 15px 10px;
}


/*CSS da pagina principal*/
.banner{
	width: 100%;
}